In [5]:
# Importando as bibliotecas 
import pandas as pd
import numpy as np

In [6]:
# Carregando o dataset
df = pd.read_csv("penguins.csv")

In [7]:
# visualizando as 5 primeiras linhas do dataframe
df.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [8]:
# Visualizando os metadados do
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [9]:
# Alterando os tipos de variáveis
df = df.drop(['sex'], axis=1)
df = df.drop(['island'], axis=1)
df = df.drop(['year'], axis=1)
df = df.drop(['Unnamed: 0'], axis=1)

In [10]:
# Imprimindo algumas informações estatísticas do dataframe como a média das colunas, variância dos dados, mediana, valores
# mínimos e máximos, dentre outras informações 
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [11]:
# verificando a existência de valores nulos
df.isnull().sum()

species              0
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
dtype: int64

In [12]:
# Dropando os valores nulos do dataframe
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

species              0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
dtype: int64

In [14]:
# Importando a biblioteca sklearn e seus módulos
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('species',axis=1),df['species'],test_size=0.3)

In [15]:
# Instânciando o classificador
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [16]:
# Verificando dados de treino e de teste
y_train.shape,y_test.shape

((239,), (103,))

In [17]:
X_train.shape,X_test.shape

((239, 4), (103, 4))

In [18]:
# Realizando o treinamento do modelo
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [19]:
# Alocando o conjunto de teste na variável resultado
resultado = knn.predict(X_test)
resultado

array(['Gentoo', 'Adelie', 'Adelie', 'Adelie', 'Gentoo', 'Gentoo',
       'Chinstrap', 'Adelie', 'Gentoo', 'Adelie', 'Adelie', 'Adelie',
       'Gentoo', 'Adelie', 'Adelie', 'Adelie', 'Gentoo', 'Adelie',
       'Adelie', 'Adelie', 'Gentoo', 'Gentoo', 'Adelie', 'Gentoo',
       'Adelie', 'Chinstrap', 'Gentoo', 'Adelie', 'Adelie', 'Gentoo',
       'Adelie', 'Adelie', 'Adelie', 'Gentoo', 'Adelie', 'Gentoo',
       'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Gentoo', 'Chinstrap',
       'Gentoo', 'Gentoo', 'Adelie', 'Gentoo', 'Gentoo', 'Adelie',
       'Adelie', 'Chinstrap', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Chinstrap',
       'Chinstrap', 'Chinstrap', 'Gentoo', 'Adelie', 'Gentoo', 'Adelie',
       'Chinstrap', 'Adelie', 'Adelie', 'Gentoo', 'Gentoo', 'Adelie',
       'Chinstrap', 'Gentoo', 'Adelie', 'Adelie', 'Adelie', 'Gentoo',
       'Adelie', 'Gentoo', 'Adelie', 'Adelie', 'Adelie', 'Gentoo',
       'Gentoo', 'Gentoo', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Gentoo', 'Adelie', 'Gentoo', 'Adelie', 'Adelie', 'Adelie',
       'Adelie', 'Chinstrap', 'Adelie', 'Adelie', 'Adelie', 'Adelie',
       'Adelie'], dtype=object)

In [20]:
# Testando o algoritmo com novas amostras de dados
test = np.array([[5.1,3.5,1.4,0.2]])
knn.predict(test),knn.predict_proba(test)

c:\users\fabioclericuzi\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
c:\users\fabioclericuzi\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

(array(['Adelie'], dtype=object), array([[1., 0., 0.]]))

In [21]:
# Imprimindo a matriz de confusão
print (pd.crosstab(y_test,resultado, rownames=['Real'], colnames=['          Predito'], margins=True))

          Predito  Adelie  Chinstrap  Gentoo  All
Real
Adelie                 47          2       6   55
Chinstrap              11          7       2   20
Gentoo                  1          1      26   28
All                    59         10      34  103

In [22]:
# Imprimindo o relatório de métricas de classificação do modelo
from sklearn import metrics
print(metrics.classification_report(y_test,resultado,target_names=df['species'].unique()))

              precision    recall  f1-score   support

      Adelie       0.80      0.85      0.82        55
      Gentoo       0.70      0.35      0.47        20
   Chinstrap       0.76      0.93      0.84        28

    accuracy                           0.78       103
   macro avg       0.75      0.71      0.71       103
weighted avg       0.77      0.78      0.76       103

In [23]:
# Imprimindo a acurácia do modelo
metrics.accuracy_score(y_test, resultado)

0.7766990291262136